{%extends 'base.html'%}
{%block content%}{%if event.image%}
<img id='theme' src="../media/{{event.image}}" style="z-index: 100">
{%endif%}
    <p class="marg">{{event.description}}</p>
    {%if event.is_random == True%}
    <form action="" method="post">
        {%csrf_token%}
    <button value="{{random}}" name="end">Kontynuuj</button></form>
    {%else%}
    {%for answer in answers%}
        <p>{{answer.description}}</p>
        <form action="" method="post">
        {%csrf_token%}
        <button value="{{answer.end_id}}" name="end">Wybierz opcję</button></form>
    {%endfor%}
    {%endif%}
{%endblock content%}
